
*{
    padding: 0;
    margin: 0;
}
.text-center{
    text-align: center;
    font-size: 40px;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(254, 246, 235);
}
.link-text{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 200px;
}

.link-footer{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.link-footer:hover{
    color: gold;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 200px;  

}
.design-gold {
    width: 100%;
    background-color: rgb(3, 15, 69);
    padding: 15px 15px;
    color: white;
}
.btn{
    width: 350px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgb(22, 4, 59);
    color: white;
    margin: 30px 40px;
    font-size: 25px;  
}
.box{
 
    padding: 10px 10px;
    margin: 17px auto;
    width:380px; 
    color: black;
    font-size: 20px;
}
/* .bg-color{
    background-color: 
    #f1e7e3;
} */
.fontsize{
    font-size: 25px;
}
.color{
    color: white;
}
.heading{
    font-size: 40px;
}