.login-form-design{ 
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px black;
    margin: 90px auto;
    padding: 30px 90px;
    position: relative;
    background-color: white; 
}

.login-background{
    background-size: cover;
}

.color{
    color: rgb(10, 5, 59);
}

