.login-form-design{
 
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px black;
    margin: 220px auto;
    padding: 30px 90px;

}

.color{
    color: white;
}
.box{
    padding: 10px 10px;
    margin: 10px;
    width:290px;
    margin-bottom:15px;
}
.login-btn{
    width: 250px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 20px 25px;
}