.login-form-design{ 
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px black;
    margin: 0px auto;
    padding: 30px 90px;
    position: relative;
    top: 180px;
    background-color: white;
  
}
.login-background{
    background-size: cover;
     /* background-image: linear-gradient(rgba(177, 172, 240, 0.9), rgba(202, 176, 241, 0.8)),
    url("login.png");   */
    /* opacity: 1.9; */
    /* width: 100%;
    height: 100vh;      */
}
.color{
    color: rgb(10, 5, 59);
}

